html {
    padding-left: calc(100vw - 100%);
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: linear-gradient(0deg, #550832c7, #f122b34d), url("/assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    margin: 0;
}

h1 {
    font-size:calc(1em + 1.5vw);
    
}

.emoji {
    color: #ffffff;
    background: #00000000;
    border: none;
    outline: none;
    font-size:calc(1em + 1.5vw);
}

#quote {
    font-size:calc(1em + 0.5vw);
    color: #ffffff;
}

.container {
    border: 1px solid #000000;
    background: #000000ad;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.wrapper {
    max-width: 800px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background: #000000;
    bottom: 0;
    width: 100%;
    position: absolute;
    color: #ffffff;
    text-align: center;
    padding: 8px 0px 8px 0px;
}

footer a {
    text-decoration: none;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 0.5em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
}

.about-model-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    display: block;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}